@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

#nprogress .bar {
    height: 6px !important;
    background: #FDE047 !important;
    /* Tailwind yellow-300 */
}

#nprogress .peg {
    height: 6px !important;
    box-shadow:
        0 0 10px #FDE047,
        0 0 5px #FDE047 !important;
}


/* Disable interaction but keep its appearance normal */
.form-loading {
    position: relative;
}

.form-loading::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
}

.form-loading * {
    pointer-events: none;
    /* block clicks */
    user-select: none;
    cursor: not-allowed;
}

/* shimmer animation */
@keyframes skeleton-shimmer {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: calc(200px + 100%) 0;
    }
}

/* Button in loading state */
.loading-btn {
    position: relative;
}

/* shimmer overlay only on the button */
.loading-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.5rem;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.6) 40%,
            rgba(255, 255, 255, 0) 80%);
    background-size: 200% 100%;
    animation: skeleton-shimmer 1.2s infinite linear;
    z-index: 10;
    pointer-events: none;

    /* keep button text visible */
    mix-blend-mode: lighten;
    opacity: 0.5;
}